.sign-up-form{
    display:flex ;
    flex-direction: column;
}
.transfer-label{
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 25px;
    padding-bottom: 12px;
    color: #000;

}